<div class="about-card">
  <div class="profile-card">
    <button class="close1-btn close-icon" (click)="close.emit()">
      <i class="fa-solid fa-xmark"></i>
    </button>

    <img src="https://avatars.githubusercontent.com/u/57450644?v=4" alt="Abhi Kaushik" class="profile-bg" />

    <div class="profile-info">
      <h3 class="profile-name">
        Abhi Kaushik
        <span class="verified">
          <img src="https://abhi-kaushik274.github.io/ComponentCraftUI/twitter-icon.png" alt="verified" />
        </span>
      </h3>
      <p>Full Stack Developer building modern web apps. Focused on clean, efficient, and user-friendly solutions.</p>

      <!-- <div class="profile-stats">
        <span><i class="fa-solid fa-users"></i> 312</span>
        <span><i class="fa-solid fa-layer-group"></i> 48</span>
        <button class="follow-btn"><i class="fa-solid fa-plus"></i> Follow</button>
      </div> -->
    </div>
  </div>
</div>